@use '../variables';

#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;

    @media (max-width:768px) {
        padding-top: 50px;
    }

    @media (max-width:480px) {
        padding-top: 20px;

    }

    .about-container {
        width: 80%;
        box-shadow: 0px 7px 29px 0px variables.$color-shadow;
        border-radius: 20px;

        .about-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 10px;
            font-size: variables.$font-size-title-desk;
            font-weight: bold;
            color: variables.$text-primary;

            @media (max-width:768px) {
                font-size: variables.$font-size-title-tablette;
            }

            @media (max-width:480px) {
                font-size: variables.$font-size-title-phone;

            }
        }

        .about-paragraphe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 20px;
            padding: 0 20px;

            p {
                font-size: variables.$font-size-desk;

                @media (max-width:768px) {
                    font-size: variables.$font-size-tablette;
                }

                @media (max-width:480px) {
                    font-size: variables.$font-size-phone;

                }
            }
        }
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;

        .skills-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;
            text-align: center;
            gap: 20px;

            @media (max-width:1044px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 100%;

                li:nth-child(5) {
                    grid-column: 2/-1;
                }
            }

            @media (max-width:540px) {
                grid-template-columns: 1fr 1fr;

                li:nth-child(5) {
                    grid-column: 1/-1;
                }
            }

            li {
                display: flex;
                justify-content: center;
                border: 1px solid variables.$color-shadow;
                border-radius: 20px;
                padding: 10px;
                font-size: variables.$font-size-desk;
                color: variables.$text-primary;
                font-weight: 500;
                background-color: variables.$background-color-button;

                @media (max-width:768px) {
                    font-size: variables.$font-size-tablette;
                }

                @media (max-width:480px) {
                    font-size: variables.$font-size-phone;
                }
            }
        }
    }

}