@import '../variables.scss';

#about {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-title {
        color: $text-primary;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 4px solid $border-color;
    }

    .about-paragraphe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;

        p {
            margin-left: 50px;
            margin-right: 50px;
            font-size: 22px;
            color: $text-secondary;

            @media (max-width:1280px) {
                font-size: 16px;
            }

            @media (max-width:500px) {
                font-size: 14px;

            }
        }
    }

}