@use '../variables';

#formation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: variables.$color-primary-light;
    padding: 80px 0;

    @media (max-width:768px) {
        padding: 50px 0;
    }

    @media (max-width:480px) {
        padding: 20px 0;

    }

    h1 {
        border-bottom: 4px solid variables.$color-primary;
        font-size: variables.$font-size-title-desk;
        font-weight: bold;

        @media (max-width:768px) {
            font-size: variables.$font-size-title-tablette;
        }

        @media (max-width:480px) {
            font-size: variables.$font-size-title-phone;

        }
    }
}

.formation-list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    padding: 0;
    list-style: none;
}

.formation-list::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: variables.$color-primary;
    transform: translateX(-50%);
}

.formation-list-text {
    padding: 5px;
    color: variables.$text-secondary;

    h2 {
        margin: 0;
        color: variables.$text-primary ;
        font-size: variables.$font-size-h2-desk;

        @media (max-width:768px) {
            font-size: variables.$font-size-h2-tablette;
        }

        @media (max-width:480px) {
            font-size: variables.$font-size-h2-phone;

        }

    }

    p {
        font-size: variables.$font-size-desk;

        @media (max-width:768px) {
            font-size: variables.$font-size-tablette;
        }

        @media (max-width:480px) {
            font-size: variables.$font-size-phone;

        }
    }
}

.formation-list-text-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}