@use '../variables';

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 80px 0;

    @media (max-width:768px) {
        padding: 50px 0;
    }

    @media (max-width:480px) {
        padding: 20px 0;

    }

    h2 {
        font-size: variables.$font-size-title-desk;
        font-weight: bold;
        margin-bottom: 50px;
        color: variables.$text-primary;

        @media (max-width:768px) {
            font-size: variables.$font-size-title-tablette;
            margin-bottom: 20px;
        }

        @media (max-width:480px) {
            font-size: variables.$font-size-title-phone;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;

    label {
        font-size: variables.$font-size-desk;

        @media (max-width:768px) {
            font-size: variables.$font-size-tablette;
        }

        @media (max-width:480px) {
            font-size: variables.$font-size-phone;

        }
    }

    input {
        height: 50px;
        border: 2px solid variables.$color-primary-dark;
        border-radius: 10px;
        font-size: variables.$font-size-desk;

        @media (max-width:768px) {
            font-size: variables.$font-size-tablette;
        }

        @media (max-width:480px) {
            font-size: variables.$font-size-phone;

        }
    }

    textarea {
        height: 70px;
        border: 2px solid variables.$color-primary-dark;
        border-radius: 10px;
        font-size: variables.$font-size-desk;

        @media (max-width:768px) {
            font-size: variables.$font-size-tablette;
        }

        @media (max-width:480px) {
            font-size: variables.$font-size-phone;

        }

    }

    button {
        height: 50px;
        border: none;
        background-color: variables.$background-color-button;
        cursor: pointer;
        color: variables.$text-primary;
        font-size: variables.$font-size-title-desk;
        border-radius: 10px;

        @media (max-width:768px) {
            font-size: variables.$font-size-title-tablette;
        }

        @media (max-width:480px) {
            font-size: variables.$font-size-title-phone;

        }
    }
}