@use '../variables';

#formation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0;

    @media (max-width:768px) {
        padding: 50px 0;
    }

    @media (max-width:480px) {
        padding: 20px 0;

    }

    .formation-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 7px 29px 0px variables.$color-primary-light;
        border-radius: 20px;

        h2 {
            color: variables.$color-primary-dark;
            font-size: variables.$font-size-title-desk;
            font-weight: bold;
            margin-bottom: 50px;

            @media (max-width:768px) {
                font-size: variables.$font-size-title-tablette;
                margin-bottom: 20px;
            }

            @media (max-width:480px) {
                font-size: variables.$font-size-title-phone;

            }
        }
    }

    .formation-list {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        padding: 0;
        list-style: none;

        @media (max-width:650px) {
            grid-template-columns: 1fr;
        }

    }

    .formation-list::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 2px;
        background-color: variables.$color-primary-dark;
        transform: translateX(-50%);

        @media (max-width:650px) {
            display: none;
        }
    }

    .formation-list-text-none {
        @media (max-width:650px) {
            display: none;
        }
    }

    .formation-list-text {
        padding: 5px;

        @media (max-width:650px) {
            text-align: center;
            padding: 20px 0;
            border-bottom: 2px solid variables.$color-primary-dark;
        }

        h3 {
            font-size: variables.$font-size-h2-desk;
            color: variables.$color-primary-dark;
            font-weight: 500;
            margin: 0;

            @media (max-width:768px) {
                font-size: variables.$font-size-h2-tablette;
            }

            @media (max-width:480px) {
                font-size: variables.$font-size-h2-phone;

            }
        }

        p {
            font-size: variables.$font-size-desk;
            margin: 0;

            @media (max-width:768px) {
                font-size: variables.$font-size-tablette;
            }

            @media (max-width:480px) {
                font-size: variables.$font-size-phone;

            }
        }
    }

    .formation-list-text-end {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;

        @media (max-width:650px) {
            align-items: center;
            text-align: center;
            padding: 0;
            padding: 20px 0;
        }

    }

    .formation-list-text-border {
        @media (max-width:650px) {
            border: none;
        }
    }
}