@use '../variables';

#accueil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(variables.$color-primary-dark, variables.$background-color-button, variables.$background-color);

    @media (max-width:768px) {
        height: 280px;
        padding-top: 50px;
    }

    @media (max-width:480px) {
        height: 220px;
        padding-top: 30px;
    }

    .accueil-container-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        width: 40%;

        img {
            border: 4px solid variables.$background-color-button;
            box-shadow: 0px 7px 29px 0px variables.$color-primary-light;
            border-radius: 600px;
            width: 250px;
            height: 250px;

            @media (max-width:996px) {
                width: 200px;
                height: 200px;
            }

            @media (max-width:768px) {
                width: 150px;
                height: 150px;
            }

            @media (max-width:600px) {
                width: 100px;
                height: 100px;
            }
        }

    }

    .accueil-container-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        width: 60%;

        .accueil-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 3.5vw;
            width: 80%;
            margin: 0;
        }

        .accueil-name {
            font-size: 5vw;
            font-weight: 700;
            color: variables.$color-primary-light;
        }

        .accueil-link {
            display: flex;
            flex-direction: row;
            width: 80%;
            gap: 20px;

            @media (max-width:768px) {
                gap: 10px;
            }

            @media (max-width:480px) {
                gap: 5px;
            }

            a {
                cursor: pointer;
                z-index: 1;


                .footer-logo {
                    width: 50px;
                    height: 50px;

                    @media (max-width:768px) {
                        width: 30px;
                        height: 30px;
                    }

                    @media (max-width:480px) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

// #accueil::before {
//     position: absolute;
//     content: "";
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 100vh;
//     background-color: rgba(255, 255, 255, 0.5);

//     @media (max-width:768px) {
//         height: 280px;
//         padding-top: 50px;
//     }

//     @media (max-width:480px) {
//         height: 220px;
//         padding-top: 30px;
//     }
// }