@use '../variables';

.container-navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    background: rgba(variables.$background-color-button, 0.95);
    box-shadow: 0 2px 4px variables.$color-shadow;

    @media (max-width:768px) {
        visibility: hidden;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 50px;

        @media (max-width:768px) {
            margin-right: 20px;
        }

        .liste-nav {
            list-style: none;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin: 0;
            padding: 20px;

            @media (max-width:768px) {
                gap: 10px;
                padding: 10px;
            }

            li {
                cursor: pointer;
                font-size: variables.$font-size-h2-desk;

                @media (max-width:860px) {
                    font-size: variables.$font-size-tablette;
                }

                @media (max-width:480px) {
                    font-size: variables.$font-size-phone;

                }

                a {
                    color: variables.$text-primary;
                    text-decoration: none;
                }

                a:hover {
                    color: variables.$color-primary-light;
                }

                a.active {
                    color: variables.$color-primary-light;
                }
            }
        }
    }
}

.navbar-phone {
    display: none;

    @media (max-width:768px) {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 2;
        width: 100%;

        .navbar-phone-button {
            display: flex;
            align-items: flex-start;
            padding: 20px;

            button {
                background: none;
                border: none;
                cursor: pointer;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .liste-nav-phone {
        list-style: none;
        line-height: 30px;
        margin: 0;
        padding-left: 10px;
        font-size: variables.$font-size-h2-phone;
        padding: 20px;

        a {
            color: variables.$text-primary;
            text-decoration: none;
        }

    }
}

.navbar-phone.open {
    background-color: rgba(variables.$background-color-button, 0.95);
    border-radius: 0 0px 20px 20px;
}