@use '../variables';

#projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 80px 0;
    background: variables.$background-card;

    @media (max-width:768px) {
        padding: 50px 0;
    }

    @media (max-width:480px) {
        padding: 20px 0;

    }

    .projects-title {
        margin-bottom: 50px;
        color: variables.$text-primary;
        font-size: variables.$font-size-title-desk;
        font-weight: bold;

        @media (max-width:768px) {
            font-size: variables.$font-size-title-tablette;
            margin-bottom: 20px;
        }

        @media (max-width:480px) {
            font-size: variables.$font-size-title-phone;

        }
    }

    .projects-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        width: 80%;

        @media (max-width:1200px) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .project {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            transition: transform 0.3s ease;
            width: 30%;
            border-radius: 20px;
            border: 2px solid variables.$color-shadow;
            background: variables.$background-color;

            @media (max-width:1200px) {
                align-items: center;
                width: 80%;
            }

            .project-link {
                text-decoration: none;
                color: variables.$text-primary;

                .project-link-div {
                    // border-bottom: 2px solid variables.$color-primary-dark;
                    overflow: hidden;
                    height: 200px;
                    width: 100%;

                    .project-link-img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 20px 20px 0 0;

                    }

                }

                .project-description {
                    margin-right: 20px;
                    margin-left: 20px;

                    h3 {
                        font-size: variables.$font-size-h2-desk;
                        color: variables.$text-primary;

                        @media (max-width:768px) {
                            font-size: variables.$font-size-h2-tablette;
                        }

                        @media (max-width:480px) {
                            font-size: variables.$font-size-h2-phone;
                        }
                    }

                    p {
                        display: flex;
                        color: variables.$text-secondary;

                        @media (max-width:768px) {
                            font-size: variables.$font-size-tablette;
                        }

                        @media (max-width:480px) {
                            font-size: variables.$font-size-phone;
                        }
                    }
                }
            }

            .github-div {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;

                a {
                    text-decoration: none;
                    color: variables.$color-primary-dark;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    border-radius: 20px;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                a:hover {
                    background-color: variables.$color-primary-light;
                    transition: transform 0.3s ease;
                }
            }
        }

        .project:hover {
            transform: scale(1.02);
            box-shadow: 0px 7px 29px 0px variables.$color-shadow;
        }
    }

}