@use '../variables';

#stackSkills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    background: variables.$color-primary-light;
    padding: 80px 0;

    @media (max-width:768px) {
        padding: 50px 0;
    }

    @media (max-width:480px) {
        padding: 20px 0;

    }

    .stackSkills-title {
        padding-bottom: 10px;
        border-bottom: 4px solid variables.$color-primary;
        font-size: variables.$font-size-title-desk;

        @media (max-width:768px) {
            font-size: variables.$font-size-title-tablette;
        }

        @media (max-width:480px) {
            font-size: variables.$font-size-title-phone;

        }
    }

    .stackSkills-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        @media (max-width:500px) {
            flex-direction: column;
        }

        .skills-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            h2 {
                font-size: variables.$font-size-h2-desk;

                @media (max-width:768px) {
                    font-size: variables.$font-size-h2-tablette;
                }

                @media (max-width:480px) {
                    font-size: variables.$font-size-h2-phone;

                }
            }

            .skills-list {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                list-style: none;
                gap: 10px;
                padding: 0;

                @media (max-width:1024px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }

                li {
                    display: flex;
                    justify-content: center;
                    border: 2px solid variables.$color-primary;
                    border-radius: 20px;
                    padding: 10px;
                    color: variables.$text-secondary;
                    font-size: variables.$font-size-desk;

                    @media (max-width:768px) {
                        font-size: variables.$font-size-tablette;
                    }

                    @media (max-width:480px) {
                        font-size: variables.$font-size-phone;
                    }
                }
            }
        }

        .stack-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-size: variables.$font-size-h2-desk;

                @media (max-width:768px) {
                    font-size: variables.$font-size-h2-tablette;
                }

                @media (max-width:480px) {
                    font-size: variables.$font-size-h2-phone;

                }
            }

            .stack-logo {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                @media (max-width:1024px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }

                img {
                    width: 80px;
                }
            }
        }
    }

}