@use './variables';

#error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        font-size: 250px;
        font-weight: 800;
        margin: 0;
        color: variables.$color-primary;

        @media (max-width:768px) {
            font-size: 200px;
        }

        @media (max-width:480px) {
            font-size: 150px;

        }
    }

    p {
        font-size: variables.$font-size-title-desk;

        @media (max-width:768px) {
            font-size: variables.$font-size-title-tablette;
        }

        @media (max-width:480px) {
            font-size: variables.$font-size-title-phone;

        }
    }

    a {
        text-decoration: none;
        cursor: pointer;

        p {
            text-decoration: underline;
            color: variables.$text-secondary;
            font-size: variables.$font-size-title-desk;

            @media (max-width:768px) {
                font-size: variables.$font-size-title-tablette;
            }

            @media (max-width:480px) {
                font-size: variables.$font-size-title-phone;

            }
        }
    }
}