// $color-primary: #B64834;
$color-primary-light: #E08264;
$color-primary-dark: #8B2B20;
$background-color: #F6EDDC;
$color-shadow: #E2C4A6;
$background-color-button: #f6ded6;

$font-size-title-desk: 24px;
$font-size-title-tablette: 22px;
$font-size-title-phone: 20px;

$font-size-h2-desk: 20px;
$font-size-h2-tablette: 18px;
$font-size-h2-phone: 16px;

$font-size-desk: 18px;
$font-size-tablette: 16px;
$font-size-phone: 14px;