@use '../variables';

.project-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: variables.$background-color-button;

    .arrow-div {
        width: 100%;

        .arrow {
            transform: scaleX(-1);
            padding: 20px;
            width: 50px;
            height: 50px;

            @media (max-width:750px) {
                width: 30px;
                height: 30px;
                padding: 10px;

            }

            &:hover {
                transform: scale(-1.2, 1.2);
                transition: transform 0.3s ease;
            }
        }
    }

    .project-banner {
        display: flex;
        justify-content: center;
        width: 100%;

        .project-banner-div {
            width: 80%;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            box-shadow: 0px 7px 29px 0px variables.$color-shadow;
        }
    }

    .project-header-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        text-align: center;
        padding: 20px 0;

        h1 {
            font-size: variables.$font-size-title-desk;

            @media (max-width:768px) {
                font-size: variables.$font-size-title-tablette;
            }

            @media (max-width:480px) {
                font-size: variables.$font-size-title-phone;

            }
        }
    }
}

.project-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    .details-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 50px 0;
        width: 80%;
        gap: 50px;

        @media (max-width:768px) {
            display: flex;
            flex-direction: column;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid variables.$color-shadow;
            background: variables.$background-card;
            width: 100%;
            height: 100%;
            border-radius: 20px;

            @media (max-width:760px) {
                padding: 10px;
            }
        }

        h2 {
            font-size: variables.$font-size-h2-desk;

            @media (max-width:768px) {
                font-size: variables.$font-size-h2-tablette;
            }

            @media (max-width:480px) {
                font-size: variables.$font-size-h2-phone;

            }
        }

        p {
            font-size: variables.$font-size-desk;
            text-align: center;
            padding: 10px;

            @media (max-width:768px) {
                font-size: variables.$font-size-tablette;
                padding: 0;
            }

            @media (max-width:480px) {
                font-size: variables.$font-size-phone;
            }
        }
    }

    .project-video-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
        background-color: variables.$background-color;

        video {

            @media (max-width:768px) {
                width: 450px;
            }

            @media (max-width:480px) {
                width: 300px;
            }
        }
    }
}