@use './styles/variables';

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: variables.$background-color;
  color: variables.$text-primary;
}